
body, html{
 height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsla(300, 21%, 78%, 1);
  background: linear-gradient(90deg, hsla(300, 21%, 78%, 1) 7%, hsla(48, 58%, 82%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
}



h2 {color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 150%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#currentDate {
  font-size: 20px; 
  color: white;
}

#currentTime {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

#dateTime {
  position: absolute;
  top: 10%;
  text-align: center;
}


#loginPage {
  position: absolute;
  bottom: 15%;
  text-align: center;
  background: transparent;
  padding: 30px;
  border-radius: 10px;
}


#profilepic {
  width: 100px; 
  position: absolute;
  margin-bottom: 20px;
  
}

button, input {
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-align: center;
  margin: 5px;
}

button {
  background-color: transparent;
  color: grey;
  cursor: pointer;
}

input {
  background-color: transparent;
  color: black;
}

