body, html{
  height: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsla(300, 21%, 78%, 1);
  background: linear-gradient(90deg, hsla(300, 21%, 78%, 1) 7%, hsla(48, 58%, 82%, 1) 51%, hsla(0, 0%, 100%, 1) 100%);
}



h2 {color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 150%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#currentDate {
  font-size: 20px; 
  color: white;
}

#currentTime {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

#dateTime {
  position: absolute;
  top: 10%;
  text-align: center;
}

/* Overall format of the page */

#loginPage {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: absolute;
  bottom: 5%; 
  width: 100%; 
  padding: 10px;
  background: transparent;
  border-radius: 10px;
}

#profilepic {
  width: 90px;
  margin-bottom: 5px; 
}

#ProfileName {
  font-size: 20px;
  border: none;
  color: white;
  text-shadow: 
    -0.2px -0.2px 0 grey,  
     0.2px -0.2px 0 grey,  
    -0.2px  0.2px 0 grey,  
     0.2px  0.2px 0 grey; 
  margin-bottom: 3px;
  display: block; 
}

button, input {
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-align: center;
  margin: 5px;
}

.popup {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: grey;
  padding: 10px;
  border-radius: 2px;
}

.popup-window {
  background-color: white;
  color: black;
  font-family: monospace;
  border-radius: 2px;
  overflow: hidden; 
  height: 500px;
  width: 300px;
}

.popup-window-title {
  background-color: #C1CFF5;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#confirmClose {
  position: absolute; 
  top: 8px;  
  right: 8px; 
  background: none; 
  color: white; 
  border: none;  
  font-size: 18px; 
  cursor: pointer;
}

.popup button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
}

#passwordInput {
  display: none;
}

#startButton {
  margin-top: 20px;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

#message {
  color: red;
  display: none;  /* Initially hidden */
}

.shake {
  animation: shake 0.5s ease-in-out;
}

button {
  background-color: transparent;
  color: grey;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 18px;
  border: none; 
  background-color: transparent;
  color: black;
  outline: none;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.show-box {
  border: 2px solid #ccc;  /* Light gray border appears */
  border-radius: 80px;
}

